input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    width: 50px;
}

.container {
    margin-top: 30vh;
}

table {
    /* border:  red solid 1px; */
    margin: 0 auto;
}

td {
    padding: 0 10px;
}

td.button {
    text-align: center;
    padding-top: 10px;
}

p#cipher_text {
    font-size: xx-large;
}

p#plain_text {
    font-size: xx-large;
}

textarea {
    max-height: 12vh;
    min-height: 12vh;
}